* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff9800;
    color: white;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i{
    font-size: 2rem;
    cursor: pointer;
}
h1 {
    font-size: 2.5rem;
}
h2{
     margin-bottom: 20px;
}

/*menu*/
.hamburger-menu {
    position: fixed;
    background-color: #ff9800;
    width: 10%; 
    height: 100vh; 
    z-index: 2;
    left: 0;
    overflow: auto;
    margin-left: -500px; 
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu li {
    padding: 10px;
    border-bottom: 1px solid #fff; 
    color: #fff;
    cursor: pointer;
}

.hamburger-menu li:hover {
    background-color: #f57c00; 
}
/*kosár*/
.cart {
    position: fixed; 
    background-color: #ff9800;
    width: 10%; 
    height: 100vh; 
    z-index: 10; 
    right: 0; 
    overflow: auto;
    margin-right: -500px;
}


.cart ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.cart ul li {
    margin-bottom: 10px; 
}


#price {
    font-weight: bold;
}

#value {
    color: #fff; /* Fehér szín a szám értékének */
}


/*szuro*/
.search {
    margin: 20px auto;
    text-align: center;
}

.search input {
    padding: 5px;
    margin: 0 10px;
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}